name: CI/CD - Deploy to EC2

on:
    push:
        branches:
            - master

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Deploy to EC2 using Docker Compose
              uses: appleboy/ssh-action@v1.0.3
              with:
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USER }}
                key: ${{ secrets.EC2_SSH_KEY }}
                script: |
                    set -e
                    
                    if ! command -v docker &> /dev/null; then
                        sudo apt update
                        sudo apt install docker.io docker-compose -y
                        sudo usermod -aG docker ubuntu
                    fi

                    if [ ! -d "traffic-accident-ml" ]; then
                        git clone https://github.com/${{ github.repository }}.git
                    fi
                    cd traffic-accident-ml
                    git fetch origin
                    git reset --hard origin/master
                    git clean -fd
                    
                    docker-compose down || true
                    docker-compose build
                    docker-compose up -d